.logo-wrapper {
    z-index: 1020;
    left: 25px;
    top: 28px;
}

.logo {
    width:150px;
    height:50px;
    display: inline-block;
    background: url(../images/logo.svg) no-repeat top left;
    background-size: contain;
    
    .no-svg &,
    .no-js & {
        width:150px;
        height:54px;
        background-image: url(../images/logo.png);
    }
}