/*** TARA NAVIGATION STYLES ***/

.navbar {
    width: 260px;
    @include bp(900px) {
            width: 230px;
        }
    height: 82px;
    top: 0;
    left: 0;
    overflow: auto;
    height: 100%;
    background: url('../images/txture.png');
    @include bpm(767px) {
        background: rgba(0,0,0,0.9);
        @include box-shadow(rgba($black, 0.3) 0 3px 4px 0 );
    }
    z-index: 1000;
    @include box-sizing (border-box);
    @include box-shadow(rgba($black, 0.35) -28px 0px 22px -20px inset);
    
    @include bpm(767px) {
        height: 58px;
        overflow: hidden;
        width: 100%;
        
        .nav-items {
            display: none;
        }
    }
   
    .nav-mobile {
        display: none;
        
        @include bpm(767px) {
            display: block ;
            float: right;
            margin-right: 2%;
            margin-top: 18px;
        }
        
    }
    
    
    .logo-wrapper {
        margin-bottom: 32px;
        margin-top: 30px;
        padding-left: 25px;
        @include bpm(767px) {
            margin-top: 12px;
            margin-bottom: 0px;
            float: left;
            padding-left: 2%;
        }
    }

    .logo {
        width:150px;
        display: block;
        @include bpm(767px) {
            width: 100px;
            height: 40px;
        }  
        height:50px;
        display: inline-block;
        background: url(../images/logo.svg) no-repeat top left;
        background-size: contain;
        
        .no-svg &,
        .no-js & {
            width:150px;
            height:54px;
            background-image: url(../images/logo.png);
        }
    }
    
    ul.nav {
        padding: 0px;
        margin: 0px;
        
        li {
            display: block;
            
            font-family : 'Roboto', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
           
            a {
                text-decoration: none;
                font-size: 14px;
                font-weight: 700;
                color : #818181;
                padding: 8px 25px;
                display: block;
                @include transition(color .300s ease);
               
                &:hover,
                &:focus {
                    color: $white;
                     background-color: #272727;
                   
                }
            }
            
        
            &.active {
                background-color: #272727;
                
                a {
                    color: $white;
                }
            }
        }
    }
    
    .contactarea {
        width: 100%;
        padding: 8px 25px;
        @include box-sizing (border-box);
        @include bpm(767px) {
        display: none;
    }
        .separator {
            width: 55px;
            height: 3px;
            margin: 10px 0;
             background-color: #818181;
        }
        
        h5 {
            color: #818181;
            font-size: 11px;
            font-family : 'Roboto', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            margin-bottom: 21px;
            margin-top: 23px;
        }
        
        a {
            font-family : 'Roboto', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            text-decoration: none;
            color: #818181;
            display: block;
            padding: 10px;
            position: relative;
            padding: 0px 10px 0px 29px;
            margin-bottom: 15px;
            font-weight: 700;
             
            
            &:before {
                font-family: 'biz-icons';
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 17px;
                position: absolute;
                left: 3px;
                top:  3px;
            }
            
            &.mail:hover,
            &.mail:focus {
                color: $white;
            }
            
            
            &.call:before {
                content: "\f095";
                font-size: 18px;
            }
            
            &.mail:before {
                content: "\f1d8";
            }
        }
    }
    
    
    
}
