
.image-holder {
    height: 260px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    
    .mobile & {
        background-attachment: inherit;
    }
    overflow: hidden;
    position: relative;
    z-index: 10;
    
    &.start {
        min-height: 688px;
    }
    
    .parallax-content {
            padding-top: 42px;
            
            h1 {
                font-size: 32px;
                color: $white;
            }
    }
    
     @include bpm(767px) {
        display: none;
    }
}

#parallax0 {
    
    background-image: url('../images/parallax/0.jpg');
    
    
}

#parallax1 {
    
    background-image: url('../images/parallax/1.jpg');
    
    
}

#parallax2 {
    background-image: url('../images/parallax/2.jpg');
    
}

#parallax3 {
    background-image: url('../images/parallax/3.jpg');
    
}

#parallax4 {
    background-image: url('../images/parallax/4.jpg');
    
}

#parallax5 {
    background-image: url('../images/parallax/5.jpg');
    
}

#parallax6 {
    background-image: url('../images/parallax/6.jpg');
    
}