.title {
    
    text-align: center;
    
    h1 {
        font-family: 'Dosis';
        margin: 0 0 15px 0;
        color: $brand-green
    }
    
    .subtitle {
        text-align: center;
        padding: 0;
        margin: 0 0 25px;
       
        h2 {
             font-weight: 400;
              font-size: 16px;
              line-height: 20px;
            color: $heading-black;
        }
    }
}

 