/* Leave space for the fixed navigation above first item */
body {
    padding-left: 260px;
    @include bp(900px) {
        padding-left: 230px;
    }
        
    @include bpm(767px) {
        padding-left:0px;
        
    }
    font-family : "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
   
    padding-right: 20px;
    @include bpm(767px) {
        padding-right: 0px;
    }
     .mobile & {
        padding-right: 0px;
    }
}

a {
    text-decoration: none;
    transition: color 0.3s ease;
    @include transition(color .3s ease);
    
}

.section {
    @include box-shadow(rgba($black, 0.9) 0 0px 13px 0 );
    position: relative;
    z-index: 20;
    padding-top: 50px;
    padding-bottom: 140px;
    @include bpm(767px) {
            padding-top: 58px;
            @include box-shadow(none);
            padding-bottom: 20px;
            border: 1px solid #EEE;
        }
}

// Typo

p,
ul {
    font-family: 'Roboto', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 13px;
    color: $paragraph-black;
    
    strong{
        font-family: 'Roboto', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: bold;
    }
}
		 


h2 {
    font-size: 45px;
    margin-bottom: 10px;
    margin-top: 0px;
}

h3 {
    font-size: 37px;
    font-weight: 200;
    line-height: 1.2em;
}

h4 {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2em;
}

h5 {
    font-size: 14px;
}
		.subtitle h2 {
		font-size: 12px;
		padding: 0;
		margin: 0 0 25px;
		line-height: 12px;
		}
		.title, .subtitle {
		text-align: center;
		}
		 
                
 // Separator & Bullets              
.line {
    width: 300px;
    height: 1px;
    text-align: center;
    line-height: 0;
    display: inline-block;
    background: #CACACA;
    @include bpm(767px) {
           display: none;
        }
}

.circle {
    border-radius: 50%;
}

 .animated { 
            -webkit-animation-duration: 2.5s; 
            animation-duration: 2.5s; 
            -webkit-animation-fill-mode: both; 
            animation-fill-mode: both; 
            animation-iteration-count:infinite; 
            -webkit-animation-iteration-count:infinite; 
        } 
        
        @-webkit-keyframes bounce { 
            0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
            40% {-webkit-transform: translateY(-7px);} 
            60% {-webkit-transform: translateY(-2px);} 
        } 

        @keyframes bounce { 
            0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
            40% {transform: translateY(-7px);} 
            60% {transform: translateY(-2px);} 
        } 

        .bounce { 
            -webkit-animation-name: bounce; 
            animation-name: bounce; 
        }

.circle.small {
    display: inline-block;
    margin-top: -5px;
    width: 10px;
    height: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #CACACA;
    @include bpm(767px) {
           display: none;
        }
    background: #FFFFFF;
}

.triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    -webkit-transform:rotate(360deg);
    border-style: inset;
}

// Button
.button-wrapper { 
    position: relative;
    margin-top: 20px;
    display: inline-block;
    input.button,
    a.button {
        @include sassy-button("simple", 4px, 13px, $green-button-gradient-start, $green-button-gradient-end, $button-white, "none");
            font-weight: 700;
            font-size: 16px;
            @include text-shadow($green-button-text-shadow 1px 1px 0);
            outline: none;
        }
        
    &:before {
        font-family: 'biz-icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        @include text-shadow($green-button-text-shadow 1px 1px 0);
        color: $button-white;
    }
    
    &.send:before {
        content: '\f1d8';
        font-size: 19px;
        left: 15px;
        top: 11px;
    }
    
    &.action:before {
        content: '\e60a';
        font-size: 19px;
        left: 15px;
        top: 15px;
    }
}

// Link

a.ext {
   color : #95BC0D;
   position: relative;
   padding-right: 11px;
   
    &:after {
        font-family: 'biz-icons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
       right: 3px;
top: 3px;
font-size: 11px;
        content: "\e60b";
    }
    

    
}

//slider buttons

    .slider-buttons {
        width: 35px;
        height: 35px;
        display: block;
        margin: 0 26px;
        border: 2px solid #B3B3B3;
        @include border-radius(50px);
        position: relative;
        
        &:after {
            font-family: 'biz-icons';
            font-size: 24px;
            color: #B3B3B3;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -12px;
            margin-top: -12px;
        }
        
        &.prev:after {
            content: "\e60a";
        }
        
        &.next:after {
            content: "\e60b";
            margin-left: -11px;
        }
        
    }
  