#aboutus {
    
    .aboutus-wrapper {
        padding: 40px 0 56px;
        @include bpm(767px) {
                padding: 0px;
            }
            
            .row  { 
            margin-bottom: 40px;
            @include bpm(540px) {
            margin-bottom: 0px;
            }
            
            &.last {
                margin-bottom: 0;
            }
            }
            
        .item {
            @include box-sizing (border-box);
            width: 50%;
            @include bpm(540px) {
            width: 100%;
            padding: 0 0px;
            margin-bottom: 40px;
            }
            float: left;
            padding: 0 35px;
            
            .image {
                width: 43%;
                margin: 0 auto;
                
                img {
                    max-width: 100%;
                    @include border-radius(50%);
                    
                    }
            }
            p {
                text-align: left;
            }
            
            .quote {
                text-align: center;
                position: relative;
                font-style: italic;
                
            }
            
            h2 {
                color: #555;
                font-size: 18px;
                margin: 15px 0 10px 0;
            }
            
            h3 {
                color: #666;
                font-size: 14px;
                margin-top: 0;
            }
        }
        
    }
    
    
    
    
}