#start {
     background: url('../images/main.jpg') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    .mobile & {
        background-attachment: inherit;
    }
    position: relative;
    overflow: hidden;
    
    @include bpm(767px) {
        display: none;
    }
    
    h1.well-hello {
        color: #FFF;
         
        font-size: 100px;
        font-weight: 700;
        line-height: 90px;
         position: fixed;
         width: 781px;
         height: 270px;
         left:50%;
          @include bp(900px) {
            left:47%;
          }
         font-family: 'Dosis';
         margin-left: -259px;
         margin-top: -135px;
         top: 50%;
         
        .mobile & {
            position: relative;
            margin: 0px auto 0px auto;
            left: auto;
            width: auto;
            top: 100px;
        }
         
         @include bp(1089px) {
           font-size: 70px;
           line-height: 70px;
        }
        
        @include bp(856px) {
           font-size: 54px;
           line-height: 56px;
        }
    }
    
    .scroll-down {
        width: 150px;
        text-align: center;
        height: 150px;
        display: block;
        position: absolute;
        bottom: 20px;
        left: 50%;
        margin-left: -75px;
         
        .text {
           display: inline-block;
           color: $white;
           font-weight: 700;
           font-size: 16px;
           margin-bottom: 27px;
           background-color: rgba(0, 0, 0, 0.4);
           padding: 3px 11px 3px 11px;
           @include border-radius(3px);
           
           &:after {
            position: absolute;
            top: 27px;
            left: 50%;
            margin-left: -8px;
            width: 0; 
            height: 0;
            content: "";
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 8px solid rgba(0, 0, 0, 0.4);
           }
        }
        
        .circle-button {
            width: 65px;
            height: 65px;
            cursor: pointer;
            display: inline-block;
            background-color: $white;
            @include border-radius(50px);
            position: relative;
            @include box-shadow(rgba($white, 0.3) 0 0px 0px 7px);
            @include transition(background-color .3s ease);
            
            &:hover,
            &:focus {
                background-color: shade($white, 6%);
            }
            
            &:before {
                font-family: 'biz-icons';
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 44px;
                color: $brand-green;
                content: "\e60c";
                position: absolute;
                width: 44px;
                height: 44px;
                left: 50%;
                top: 50%;
                margin-left: -22px;
                margin-top: -20px;
            }
        }
    }
    
}